<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= @article.tag&.name || "No tag assigned" %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

</div>
